/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Relatives */
.shapes, .texts {
  position: relative;
}

/* Shapes */
.border-rec {
  height: 150px;
  width: 450px;
  border: 10px solid rgb(255, 145, 71);
  border-radius:  15px;
}

.big-rec {
  background-color: rgba(7, 193, 255, 0.399);
  height: 180px;
  width: 370px;
  position: absolute;
  left: 70px;
  top: -40px;
}

.small-rec {
  background-color: rgba(2, 224, 135, 0.349);
  height: 200px;
  width: 116px;
  position: absolute;
  top: 20px;
  left: 160px;
}

/* text styles */
.css-text {
  font-size: 50px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  left: -400px;
  top: -24px;
  line-height: 70px;
}

.details {
  position: absolute;
  left: -370px;
  top: 150px;
  font-family:sans-serif;
  letter-spacing: 15px;
  line-height: 35px;
}

.blue-text {
  color: rgba(7, 193, 255, 0.876);
}

.box-text {
  background-color: rgb(197, 2, 197);
  padding-left: 15px;
  padding-top: 2px;
  color: white;
}
